@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

/* Miscellaneous */
.line {
  width: 75%;
  border-bottom: 2px solid #EDEFEE;
  margin-top: 5%;
  margin-bottom: 8%;
}

/* Images & Logos */

.body_image {
  border-radius: 1rem;
  width: 85%;
}

/* Componets */
button {
  font-size: 1.25rem;
  font-family: 'Karla';
  font-weight: 500;
  color: #333333;
  padding: 0.75em 3em;
  border: none;
  border-radius: 1rem;
  background-color: #F4CE14;
  box-shadow: 0em 0.25em 0.25em hsla(50, 91%, 52%, 20%);
  cursor: pointer;
}

#book_table {
  margin-top: 3rem;
}

.order_online {
  margin-left: 2.5rem;
}

.date, .time, .occasion {
  width: 70%;
  border: none;
  border-radius: 1rem;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDEFEE;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  color: #495E57;
}

.date {
  padding: 2.5%;
}

.time, .occasion {
  width: 75%;
  padding: 2.8% 2.5% ;
  appearance: none;
}

/* Number of Guests Component */
.num_of_guests {
  display: flex;
  gap: 2%;
  width: 100%;
  border: none;
}

input[type=radio] {
  display: none;
}

.guest_labels {
  display: flex;
  width: 1em;
  height: 1em;
  padding: 1em 1em;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  color: #495E57;
  border-radius: 50%;
}

input[type=radio]:hover+label {
  background-color: #EDEFEE;
}

input[type=radio]:checked+label {
  background-color: #495E57;
  box-shadow: 0rem 0.25rem 0.25rem hsla(160, 13%, 33%, 20%);
  color: #ffffff;
}



/* Labels & Titles/Subheadings */
.date_label, .time_label, .occasion_label {
  font-family: 'Karla';
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 12.5%;
  margin-bottom: 0.5em;
}

legend {
  font-family: 'Karla';
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

main h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 0.75em;
}

/* Main Section Layout */
main section {
  width: 50%;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

form section {
  width: 75%;
  overflow: scroll;
}


/* Containers */
  /* Main Container */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main.container {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

footer.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #495E57;
}

main.homepage {
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

/* 2xl desktop*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl  laptop*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  button {
    font-size: 1.125rem;
  }
}

/* 1g  large tablet*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  main h1 {
    font-size: 3rem;
  }
}

/* md medium tablet*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  main h1 {
    font-size: 2.75rem;
  }
}

/* sm small tablets*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  main h1 {
    font-size: 2.5rem;
  }

  .date, .time {
    font-size: 1.25rem;
  }

  .date_label, .time_label, legend {
    font-size: 1rem;
  }
}

/* xs smartphone*/
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }

  main.container {
    flex-direction: column;
    padding-top: 0px;
  }

  main section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  main form {
    width: 100%;
  }
  
  form section {
    width: 90%;
  }

  .body_image {
    width: 100%;
    height: 280px;
    border-radius: 0px;
    object-fit: cover;
  }

  .date {
    width: 85%;
    padding: 2.5%;
  }
  
  .time {
    width: 90%;
    padding: 2.8% 2.5% ;
    appearance: none;
  }

  .date_label, .time_label {
    margin-left: 5%;
  }

  main h1 {
    margin-top: 0.75em;
  }
}




/*body {
  max-width: 100vw;
}

header {
  width: 100vw;
  height: 7rem;
}
nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 7%;
}

ul {
  list-style: none;
}

header li {
  float: left;
  font-size: 1.25rem;
  font-family: 'Karla';
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #333333;
  margin-left: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  width: 11.5rem;
  margin-left: 7%;
}

button {
  font-size: 1.25rem;
  padding: 1em 3.5em;
  border-radius: 1rem;
  border: none;
  background-color: #F4CE14;
  box-shadow: 0rem 0.25rem 0.25rem hsla(50, 91%, 52%, 20%);
  font-family: 'Karla';
  font-weight: 500;
}

main {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2rem;
}

main section {
  width: 50%;
  border-right: 2px solid #EDEFEE;
}

h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 3rem;
}

section img {
  width: 85%;
  border-radius: 1rem;
  margin-bottom: 7rem;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input[type=date] {
  width: 75%;
  height: 3.75rem;
  border-radius: 1rem;
  border: none;
  background-color: #EDEFEE;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  color: #495E57;
}

select {
  appearance: none;
  width: 75%;
  height: 3.75rem;
  border-radius: 1rem;
  border: none;
  background-color: #EDEFEE;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  color: #495E57;
}

.date, .time, legend {
  font-family: 'Karla';
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 12.5%;
  margin-bottom: 3%;
}

legend {
  width: auto;
  margin-left: 0px;
}

fieldset {
  appearance: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  width: 75%;
  gap: 3rem 4rem;
  border: none;
}

input[type=radio] {
  display: none;
}

fieldset label {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  color: #495E57;
}

.line {
  width: 75%;
  border-bottom: 2px solid #EDEFEE;
  margin-top: 5%;
  margin-bottom: 8%;
}

#bookTable {
  margin-top: 3rem;
}

input[type=radio]:hover+label {
  background-color: #EDEFEE;
}

input[type=radio]:checked+label {
  background-color: #495E57;
  box-shadow: 0rem 0.25rem 0.25rem hsla(160, 13%, 33%, 20%);
  color: white;
}

 select:enabled {
  background-color: #495E57;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  color: #EDEFEE;
}

option {
  text-align: center;
}

input[type=date]::placeholder {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #495E57;
  color: white;
}

h6 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-family: 'Karla';
  font-weight: 700;
}

footer li {
  font-size: 1.125rem;
  font-family: 'Karla';
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: white;
}

.footerLogo {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  width: 5rem;
  align-self: center;
}

footer section {
  margin: 3rem;
}

.hamburgerMenu {
  width: 0px;
}

@media (max-width: 1176px) {
  header a, header button {
    font-size: 1rem;
  }
}

@media (max-width: 1040px) {
  nav ul, nav button {
    display: none;
  }

  .hamburgerMenu {
    width: 2rem;
  }
}

@media (max-width: 775px) {
  h1 {
    font-size: 3rem;
  }

  fieldset {
    grid-template-columns: repeat(6, auto);
    max-width: 75%;
    overflow: hidden;
    margin-left: 50%;
  }
}*/