@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
}

header {
  width: 100vw;
  height: 7rem;
}
nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 7%;
}

ul {
  
  list-style: none;
}

header li {
  float: left;
  font-size: 1.25rem;
  font-family: 'Karla';
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #333333;
  margin-left: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  width: 11.5rem;
  margin-left: 7%;
}

button {
  font-size: 1.25rem;
  padding: 1rem 3.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #F4CE14;
  box-shadow: 0rem 0.25rem 0.25rem hsla(50, 91%, 52%, 20%);
  font-family: 'Karla';
  font-weight: 500;
}

main {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2rem;
}

main section {
  width: 50%;
  border-right: 2px solid #EDEFEE;
}

h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 3rem;
}

section img {
  width: 85%;
  border-radius: 1rem;
  margin-bottom: 7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input[type=date] {
  width: 75%;
  height: 3.75rem;
  border-radius: 1rem;
  border: none;
  background-color: #EDEFEE;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  color: #495E57;
}

select {
  appearance: none;
  width: 75%;
  height: 3.75rem;
  border-radius: 1rem;
  border: none;
  background-color: #EDEFEE;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  font-family: 'Karla';
  font-weight: 500;
  font-size: 1.5rem;
  color: #495E57;
}

.date, .time, legend {
  font-family: 'Karla';
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
  margin-left: 12.5%;
  margin-bottom: 1rem;
}

legend {
  width: auto;
  margin-left: 0px;
}

fieldset {
  appearance: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  width: 75%;
  gap: 3rem 4rem;
  border: none;
}

input[type=radio] {
  display: none;
}

fieldset label {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  color: #495E57;
}

.line {
  width: 75%;
  border-bottom: 2px solid #EDEFEE;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#bookTable {
  margin-top: 3rem;
}

input[type=radio]:hover+label {
  background-color: #EDEFEE;
}

input[type=radio]:checked+label {
  background-color: #495E57;
  box-shadow: 0rem 0.25rem 0.25rem hsla(160, 13%, 33%, 20%);
  color: white;
}

 select:enabled {
  background-color: #495E57;
  box-shadow: 0rem 0.25rem 0.25rem hsla(0, 0%, 56%, 25%);
  color: #EDEFEE;
}

option {
  text-align: center;
}

input[type=date]::placeholder {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #495E57;
  color: white;
}

h6 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-family: 'Karla';
  font-weight: 700;
}

footer li {
  font-size: 1.125rem;
  font-family: 'Karla';
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: white;
}

.footerLogo {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  width: 5rem;
  align-self: center;
}

footer section {
  margin: 3rem;
}
/*group label:nth-child(1) {
  background-color: chartreuse;
  justify-self: start;
}

group label:nth-child(5) {
  background-color: chartreuse;
  justify-self: end;
}

group label:nth-child(7) {
  background-color: chartreuse;
  justify-self: start;
}

group label:nth-child(11) {
  background-color: chartreuse;
  justify-self: end;
}*/